page-home {
    ion-slides {
        height: auto;
    }
    .swiper-wrapper {
        height: auto;
    }
    .item-md {
        padding-left: 0;
    }
    .list-md[inset] {
        margin: auto;
        border-radius: inherit;
    }
}
