page-label {
    .list-md[inset] {
        margin: auto;
        border-radius: inherit;
    }
    element.style {
        margin-top: 40px;
    }
    .scroll-content {
        padding: 0;
    }
    ion-app.md [padding] .scroll-content {
        padding: 0;
    }
    .item-md {
        padding-left: 0;
    }
    .toolbar-background-md {
        border-color: #d0403e;
        background: #d0403e;
    }
    .toolbar-title-md {
        color: #ffffff;
    }
    .card-md {
        margin: 0;
        border-radius: 0;
        width: auto;
    }
    ion-card {
        display: contents;
    }
    ion-icon{
        color: #ffffff;
    }
}
