<ion-header> 
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> 
    <ion-title *ngIf="!isSearchbarOpened">
      {{ title }}
    </ion-title>
    <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" (search)="onSearch($event)" (ionCancel)="isSearchbarOpened=false"></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card id="cloudTabDefaultPage-card21">
    <ion-list>
      <ion-item-sliding>
        <ion-item color="assertive" id="cloudTabDefaultPage-list-item4">
          <ion-icon name="albums" item-left></ion-icon>
          {{ label }}
        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="positive"></button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-card>
<!--<ion-content padding #container>-->
  <ion-list inset>
    <!--<button ion-item *ngFor="let post of posts" (click)="openPostLabel(post)">-->
    <!--<button ion-item *ngFor="let post of posts" (click)="openPostURL(post)">-->
    <button ion-item *ngFor="let post of posts" (click)="openPostThemeBrowser(post)">
      <ion-row>
        <ion-col col-4>
          <!--<ion-img height="44" width="80" src={{post.imageurl}}></ion-img>-->
          <img-loader height="44" width="80" [src]="post?.imageurl" useImg (load)="onImageLoadLabel($event)"></img-loader>
          <!--<ion-img [defaultImage]="'assets/imgs/default-img.jpg'" [lazyLoad]="{{post.imageurl}}" [scrollObservable]="container.ionScroll"></ion-img>-->
        </ion-col>
        <ion-col col-8>
          <h2 text-wrap [innerHTML]="post?.title"></h2>
        </ion-col>
      </ion-row>
    </button>
    <!--<button ion-button secondary menuToggle>Toggle Menu</button>-->
  </ion-list>
  
  <!--<ion-infinite-scroll (ionInfinite)="doInfinite($event)">-->
  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfiniteLabel())">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
